<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Detection</title>
   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h2>Upload an Image</h2>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>

        {% if upload_img and processed_img %}
        <div class="images">
            <div>
                <h3>Uploaded</h3>
                <img src="{{ upload_img }}" alt="Uploaded">
            </div>
            <div>
                <h3>Predicted</h3>
                <img src="{{ processed_img }}" alt="Predicted">
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
